<% content_for :title do %>Hiptest dashboard<% end %>
<div class="gridster">
  <ul>
       <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="QA Dashboard" data-text=".. " data-moreinfo="Connected to Automation of the Seas"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr-1" data-view="Status" data-title="TR-1" data-text=""></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tr-2" data-view="Status" data-title="TR-2" data-text=""></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tr-3" data-view="Status" data-title="TR-3" data-text=""></div>
    </li> 
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tr-4" data-view="Status" data-title="TR-4" data-text=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
  </ul>
</div>